*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: arial;
}

body{
width: 100%;
height: 100dvh;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid white;
background-color: hsl(218, 23%, 16%);
}

.main-container{
position: relative;
width: 450px;
height: 250px;
box-shadow: 1px 1px 30px black;
border-radius: 10px;
text-align: center;
padding: 40px;
background-color:hsl(217, 19%, 24%);
}

#adviceContent{
line-height: 1.4;
color: hsl(193, 38%, 86%);
font-weight: bold;
margin-top: 30px;
margin-bottom: 20px;
}

h6{
color: hsl(150, 100%, 66%);
letter-spacing: 5px;
}

#rollDice{
width: 50px;
border: 0;
border-radius: 50%;
display: block;
position: absolute;
background-color: hsl(150, 100%, 66%);
bottom: -20px;
left: 200px;
cursor: pointer;
height: 50px;
transition: 0.5s ease-in;
}

#rollDice:hover{
box-shadow: 1px 2px 40px hsl(150, 100%, 66%);
}

@media screen and (max-width: 650px){
body{
padding: 10px;
}

.main-container{
width: 100%;
height: 400px;
}

#adviceContent{
font-weight: bold;
font-size: 2.1rem;
}

#rollDice{
width: 70px;
height: 70px;
left: 150px;
transition: 0.5s ease-in;
}
}